/* Move down content because we have a fixed navbar that is 50px tall

<link href='https://fonts.googleapis.com/css?family=Rufina:400,700|Sintony|Meddon' rel='stylesheet' type='text/css'>

font-family: 'Rufina', serif;
font-family: 'Sintony', sans-serif;
font-family: 'Meddon', cursive;

*/
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
}
body #admin-menu {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1600;
  height: 30px;
  padding-top: 5px;
}
body #admin-menu #admin-menu-wrapper img:first-child{
  position: absolute !important;
  left: 2px !important;
  top: -3px !important;
}
body #admin-menu .admin-menu-icon{
  position: relative !important;
  top: 2px !important;
}
a{
  color:#2b2b2b;
}
a:hover{
  color:#e60379;
}
h1,h2,h3,h4{
  font-family: 'Rufina', serif;
  font-weight: 700;
}
h5,h6{
  font-family: 'Sintony', sans-serif;
  font-weight: 400;
}
h1{
  color:#2b2b2b;
  font-size: 3.157em;
}
h2{
  color:#2b2b2b;
  font-size: 2.369em;
}
h3{
  color:#2b2b2b;
  font-size: 1.777em;
}
h4{
  color:#e60379;
  font-size: 1.777em;
}
h5{
  color:#2b2b2b;
  font-size: 1em;
}
h6{
  color:#e60379;
  font-size: 1em;
}
.truewhite{
  color: #ffffff;
}
.trueblack{
  color: #000000;
}
.bluegray{
  color:#eeffff;
}
.gray{
  color:#f2f2f2;
}
.white{
  color:#f0f0ee;
}
.medgray{
  color:#eae3e7;
}
.tan{
  color:#f2dada;  
}
.lightpink{
  color:#ffcce6;  
}
.medgray2{
  color:#ddd7da;  
}
.lightpurple{
  color:#ddbbdd;  
}
.medpurple{
  color: #ddaadd;
}
.medpink{
  color:#ff99ce;
}
.medtan{
  color:#d8adae;
}
.orange{
  color:#f2797b;
}
.darkgray{
  color:#aa8899;
}
.purple{
  color:#775577;
}
.pink{
  color:#e60379;
}
.brown{
  color:#7f3f41;
}
.red{
  color:#992222;
}
.brightpurple{
  color:#881188;
}
.darkgray{
  color:#4c3d45;
}
.medpink{
  color:#ab0057;
}
.darkpink{
  color:#881155;
}
.darkred{
  color:#881111;
}
.darkestgray{
  color:#2b2b2b;
}
.darkestpurple{
  color:#660033;
}
.darkestred{
  color:#220000;
}
.black{
  color:#111010;
}

.background-truewhite{
  background-color: #ffffff;
}
.background-trueblack{
  background-color: #000000;
}
.background-bluegray{
  background-color:#eeffff;
}
.background-gray{
  background-color:#f2f2f2;
}
.background-white{
  background-color:#f0f0ee;
}
.background-medgray{
  background-color:#eae3e7;
}
.background-tan{
  background-color:#f2dada;  
}
.background-lightpink{
  background-color:#ffcce6;  
}
.background-medgray2{
  background-color:#ddd7da;  
}
.background-lightpurple{
  background-color:#ddbbdd;  
}
.background-medpurple{
  background-color: #ddaadd;
}
.background-medpink{
  background-color:#ff99ce;
}
.background-medtan{
  background-color:#d8adae;
}
.background-orange{
  background-color:#f2797b;
}
.background-darkgray{
  background-color:#aa8899;
}
.background-purple{
  background-color:#775577;
}
.background-pink{
  background-color:#e60379;
}
.background-brown{
  background-color:#7f3f41;
}
.background-red{
  background-color:#992222;
}
.background-brightpurple{
  background-color:#881188;
}
.background-darkgray{
  background-color:#4c3d45;
}
.background-medpink{
  background-color:#ab0057;
}
.background-darkpink{
  background-color:#881155;
}
.background-darkred{
  background-color:#881111;
}
.background-darkestgray{
  background-color:#2b2b2b;
}
.background-darkestpurple{
  background-color:#660033;
}
.background-darkestred{
  background-color:#220000;
}
.background-black{
  background-color:#111010;
}
.background-pattern{
  background-image: url('symphony.png');
  background-repeat: repeat;
}
.left{
  float: left;
}
.right{
  float:right;
}
.leftembed{
  margin-right:20px;
  margin-bottom:20px;
}
.rightembed{
  margin-left: 20px;
  margin-bottom:20px;
}
.bodyimage{
  min-width: 300px;
  height: auto;
  max-width: 500px;
}
/* CHANGE HERE TO MATCH COLORS OF SITE OWNER*/
.navbar-inverse{
  background-color: white;
}
.navbar-inverse .navbar-brand{
  color: #136026;
  text-transform: uppercase;
  font-size: 2em;
}
.navbar-inverse .navbar-brand:hover{
  color: #136026;
}
.pickupanddelivery{
  background-color: #505050;
  min-height: 0px;
  padding-top: 2px;
  text-transform: uppercase;
  text-align: right;
  font-size: 18px;
  font-style: italic;
  color: #626262;
  padding-bottom: 2px;
}
.frontpage .jumbotron{
  min-height: 50px;
  margin-bottom: 0px;
  padding: 0px;
  /*display: flex;*/
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 585px;
}
.frontpage .jumbotron-vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.frontpage .jumbotron img{
  width: 100%;
  height: auto;
}
.frontpage .jumbotron-message{
  background-color: #e1e1e1;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 13px;
}
.frontpage .jumbotron-message h1{
  margin: 0px;
  padding: 0px;
  color: forestgreen;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
}
.frontpage .jumbotron-message h2{
  padding: 0px;
  margin: 0px;
  font-size: 1em;
  color: #626262;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}
.frontpage .flex-caption{
  background-color: rgba(200,200,200,0.8);
  text-align: center;
  padding-top: 8px;
  padding-bottom: 13px;
  /*position: absolute;
  width: 100%;
  bottom: 135px;*/
}
.frontpage .flex-caption h1{
  margin: 0px;
  padding: 0px;
  color: forestgreen;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
}
.frontpage .flex-caption h2{
  padding: 0px;
  margin: 0px;
  font-size: 0.9em;
  color: #626262;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 5px;
}
.frontpage .jumbotron-control{
  text-align: right;
}
.frontpage .logoarea{
  margin-top: 175px;
  min-height: 405px;
  border-top: solid 5px #e60379;
  padding: 20px 0px;
  border-bottom: solid 5px #e60379;
  position: relative;
  z-index: 2;
}
.frontpage .logoarea img{
  
}
.frontpage .logoarea-telephone{
  padding-bottom: 15px;
}
.frontpage .logoarea-telephone h3{
  margin: 0px;
  padding: 0px;
  font-size: 1.75em;
}
.frontpage .plaxone{
  min-height: 400px;
  background: transparent;
}
.frontpage .features{
  
}
.frontpage .feature-each{
  text-align: center;
  margin-top: 25px;
}
.frontpage .feature-each img{
  width: 100%;
  height: auto;
  max-width: 360px;
}
.frontpage .feature-each h3{
  font-size: 1.75em;
  font-weight: 600;
}
.frontpage .feature-each p{
  
}
.frontpage .main-content{
  padding-bottom: 20px;
  border-bottom: solid #fff 20px;
}
.frontpage .main-content-h1{
    text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 3.25em;
  border-bottom: solid 2px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.frontpage .main-content .first-sentence-0{
  font-weight: 600;
  font-size: 1.25em;
  font-style: italic;
}
.frontpage .main-content p{
  font-size: 1.15em;
  line-height: 2.25em;
}
.frontpage .main-content-social{
  
}
.frontpage .main-content-social ul{
  
}
.frontpage .main-content-social li{
  
}
.frontpage .main-content-social a{
  
}
.frontpage .main-content-social .sharethisvideo{
  
}
.frontpage .main-content-social .sharethisvideofacebook{
  
}
.frontpage .main-content-social .sharethisvideotwitter{
  
}
.frontpage .main-content-social .sharethisvideoemail{
  
}
.frontpage .main-content-video{
  
}
.frontpage .main-content-video iframe{
  width: 100%;
  min-height: 375px;
}
.frontpage .plaxtwo{
  min-height: 400px;
  background: transparent;
  padding-bottom: 65px;
}
.frontpage .plaxtwo .tipofthedayholder{
  text-align: center;
  width: 100%;
  margin-top: 100px;
}
.frontpage .plaxtwo .tipofthedayholder img{
  width: 267px;
}
.frontpage .plaxtwo .first-sentence-1{
  text-transform: uppercase;
  font-size: 1.3em;
  display: inline-block;
  margin-right: 12px;
}
.frontpage .plaxtwo {
  color: white;
}
.frontpage .plaxtwo a{
  color: white;
}
.frontpage .plaxtwo a:hover{
  color:#f15c48;
  text-decoration: none;
}
.frontpage .plaxtwo p{
  font-size: 1.75em;
  margin-top: 40px;
  text-shadow: 0 0 6px #000000;
}
.frontpage .prefooter{
  
}
.frontpage .prefooter .logocontainer{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.frontpage .prefooter .logocontainer img{
  width: 50%;
  height: auto;
}
.frontpage .prefooter .prefooter-list-0{
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-top: 25px;
}
.frontpage .prefooter .prefooter-list-0 li{
  font-size: 18px;
}
.frontpage .prefooter .prefooter-list-0 .line-0{
  
}
.frontpage .prefooter .prefooter-list-0 .line-1{
  
}
.frontpage .prefooter .prefooter-list-0 .line-2{
  
}
.frontpage .prefooter .prefooter-list-0 .line-3{
  
}
.frontpage .prefooter h2.signup{
  margin: 0px;
  padding: 0px;
  margin-top: 25px;
  font-weight: 600;
}
.frontpage .prefooter form{
  overflow: auto;
  position: relative;
}
.frontpage .prefooter label{
  display: block;
  margin-top: 10px;
  color: #717171;
}
.frontpage .prefooter input[type=text]{
  
}
.frontpage .prefooter #tipsandcoupons{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  width: 85%;
  float: left;
  border: solid 1px #717171;
}
.frontpage .prefooter input[type=submit]{
  background-color: white;
  text-indent: -9999px;
  background-image: url('ftrNewsletterArrow.png');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 7px 5px;
}
.frontpage .prefooter input[type=submit]:hover{
  background-color: #d0de40;
}
.frontpage .prefooter #tipsandcoupons-submit{
  display: block;
  float: left;
  width: 10%;
  border: solid 1px #717171;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: -1px;
}


.frontpage .prefooter #edit-submitted-signup-for-our-newsletter{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  width: 85%;
  float: left;
  border: solid 1px #717171;
}
.frontpage .prefooter #edit-submit{
  background-color: white;
  text-indent: -9999px;
  background-image: url('ftrNewsletterArrow.png');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 7px 7px;
  border-radius: 0px;
}
.frontpage .prefooter #edit-submit:hover{
  background-color: #d0de40;
}
.frontpage .prefooter #edit-submit{
  display: block;
  float: left;
  width: 10%;
  border: solid 1px #717171;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -1px;
}

.not-front .prefooter #edit-submitted-signup-for-our-newsletter{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  width: 85%;
  float: left;
  border: solid 1px #717171;
}
.not-front .prefooter #edit-submit{
  background-color: white;
  text-indent: -9999px;
  background-image: url('ftrNewsletterArrow.png');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 7px 7px;
  border-radius: 0px;
}
.not-front .prefooter #edit-submit:hover{
  background-color: #d0de40;
}
.not-front .prefooter #edit-submit{
  display: block;
  float: left;
  width: 10%;
  border: solid 1px #717171;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -1px;
}


.frontpage .prefooter .prefooter-list-1{
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: auto;
  float: right;
  margin-top: 25px;
}
.frontpage .prefooter .prefooter-list-1 li{
  float: left;
  display: block;
  margin: 5px;
  width: 30px;
  height: 30px;
}
.frontpage .prefooter .prefooter-list-1 li a{
    display: block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
}
.frontpage .prefooter .prefooter-list-1 li a:hover{
  
}
.frontpage .prefooter .prefooter-list-1 .social-icon-0{
  
}
.frontpage .prefooter .prefooter-list-1 .social-icon-0 a{
  background-image: url('ftrFacebook.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: solid 2px #fff;
  border-radius: 50%;
}
.frontpage .prefooter .prefooter-list-1 .social-icon-0 a:hover{
  border: solid 2px #d0de40;
}
.frontpage .prefooter .prefooter-list-1 .social-icon-1{
  
}
.frontpage .prefooter .prefooter-list-1 .social-icon-1 a{
  background-image: url('ftrTwitter.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: solid 2px #fff;
  border-radius: 50%;
}
.frontpage .prefooter .prefooter-list-1 .social-icon-1 a:hover{
  border: solid 2px #d0de40;
}
.frontpage .prefooter .prefooter-list-1 .social-icon-2{
  
}
.frontpage .prefooter .prefooter-list-1 .social-icon-2 a{
  background-image: url('ftrLinkedin.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: solid 2px #fff;
  border-radius: 50%;
}
.frontpage .prefooter .prefooter-list-1 .social-icon-2 a:hover{
  border: solid 2px #d0de40;
}
.frontpage .prefooter .prefooter-list-1 .social-icon-3{
  
}
.frontpage .prefooter .prefooter-list-1 .social-icon-3 a{
  background-image: url('ftrYoutube.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: solid 2px #fff;
  border-radius: 50%;
}
.frontpage .prefooter .prefooter-list-1 .social-icon-3 a:hover{
  border: solid 2px #d0de40;
}
.frontpage .prefooter .prefooter-list-1 .social-icon-4{
  
}
.frontpage .prefooter .prefooter-list-1 .social-icon-4 a{
  background-image: url('ftrMail.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: solid 2px #fff;
  border-radius: 50%;
}
.frontpage .prefooter .prefooter-list-1 .social-icon-4 a:hover{
  border: solid 2px #d0de40;
}
.frontpage .credits{
  border-bottom: solid 2px #136026;
  font-size: 12px;
}
.frontpage .credits .minitext{
  text-align: right;
  margin-bottom: 5px;
}
.frontpage .footer-menu{

}
.frontpage .footer-menu footer{
  
}
.frontpage .flexslider{
  border: 0px;
  margin: 0px;
}
.frontpage .flexslider .views-field-field-image{
  width: 100%;
  max-height: 650px;
  overflow: hidden;
}

.frontpage .flexslider a{
  color: #6f9935;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
}
.frontpage .flexslider a:hover{
  text-decoration: none;
}
.frontpage .flexslider ol.flex-control-nav{
  bottom: -20px;
  right: 20px;
}
.frontpage .flexslider ol.flex-control-nav li{
  float: right;
}
.frontpage .flexslider ol.flex-control-nav a{
  border-radius: 0px;
  border: solid 1px #606060;
  background-color: white;
}
.frontpage .flexslider ol.flex-control-nav a.flex-active{
  background-color: #606060;
}
.frontpage .flexslider ol.flex-control-nav a:hover{
  background-color: yellowgreen;
}
.frontpage .navbar-header{
  display: block;
  width: 150px;
  margin: 10px 0px;
}
.frontpage .navbar-header .logo{
  
}
.frontpage .navbar-header .logo img{
  width: 100%;
  height: auto;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: gray;
}
/*-----------------------------------------------------------------------------------------------
child pages
-----------------------------------------------------------------------------------------------*/
.childpage{
  margin-top: -50px;
}
.childpage .headerwrapper{
  padding-bottom: 0px;
  background-color:white;
}
.childpage header{
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}
.childpage .navbar-default{
  border: none;
}
.childpage .navbar-header .logo{
  display: block;
  width: 250px;
  margin: 0px;
}
.childpage .navbar-header .logo img{
  width: 70%;
  height: auto;
}
.childpage .navbar-collapse{
  position: relative;
}
.childpage .logoarea-telephone{
  position: absolute;
  width: 100%;
  text-align: right;
  padding-right: 30px;
  padding-top: 15px;
  bottom: 10px;
  font-size: 1.05em;
}
.childpage header.navbar-default{
  position: relative;
}
.childpage .logoarea-telephone h3{
  margin: 0px;
  padding: 0px;
  font-size: 1.75em;
}
.childpage .jumbotron{
  min-height: 50px;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  /*overflow: hidden;*/
  /*max-height: 650px;*/
}
.childpage .jumbotron-vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 150px;
  overflow: hidden;
}
.childpage .jumbotron img{
  width: 100%;
  height: auto;
}
.childpage .region-hero{
  width: 100%;
}
.childpage .region-hero p{
  margin: 0px;
  padding: 0px;
}
.childpage .page-header{
  margin-top: 5px;
}
.childpage .main-content{
  padding-bottom: 20px;
  border-bottom: solid #fff 20px;
  padding-top: 20px;
  min-height: 600px;
}
.childpage .well{
  background-color: white;
  border: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.childpage .bottomspacer{
  min-height: 45px;
}
.childpage .prefooter{
  
}
.childpage .prefooter .logocontainer{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.childpage .prefooter .logocontainer img{
  width: 75%;
  height: auto;
}
.childpage .prefooter .prefooter-list-0{
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-top: 25px;
}
.childpage .prefooter .prefooter-list-0 li{
  font-size: 18px;
}
.childpage .prefooter .prefooter-list-0 .line-0{
  
}
.childpage .prefooter .prefooter-list-0 .line-1{
  
}
.childpage .prefooter .prefooter-list-0 .line-2{
  
}
.childpage .prefooter .prefooter-list-0 .line-3{
  
}
.childpage .prefooter h2.signup{
  margin: 0px;
  padding: 0px;
  margin-top: 25px;
  font-weight: 600;
}
.childpage .prefooter form{
  overflow: auto;
  position: relative;
}
.childpage .prefooter label{
  display: block;
  margin-top: 10px;
  color: #717171;
}
.childpage .prefooter input[type=text]{
  
}
.childpage .prefooter #tipsandcoupons{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  width: 85%;
  float: left;
  border: solid 1px #717171;
}
.childpage .prefooter input[type=submit]{
  background-color: white;
  text-indent: -9999px;
  background-image: url('ftrNewsletterArrow.png');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 7px 5px;
}
.childpage .prefooter input[type=submit]:hover{
  background-color: #d0de40;
}
.childpage .prefooter #tipsandcoupons-submit{
  display: block;
  float: left;
  width: 10%;
  border: solid 1px #717171;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: -1px;
}
.childpage .prefooter .prefooter-list-1{
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: auto;
  float: right;
  margin-top: 25px;
}
.childpage .prefooter .prefooter-list-1 li{
  float: left;
  display: block;
  margin: 5px;
  width: 30px;
  height: 30px;
}
.childpage .prefooter .prefooter-list-1 li a{
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
}
.childpage .prefooter .prefooter-list-1 li a:hover{
  
}
.childpage .prefooter .prefooter-list-1 .social-icon-0{
  
}
.childpage .prefooter .prefooter-list-1 .social-icon-0 a{
  background-image: url('ftrFacebook.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: solid 2px #fff;
  border-radius: 50%;
}
.childpage .prefooter .prefooter-list-1 .social-icon-0 a:hover{
  border: solid 2px #d0de40;
}
.childpage .prefooter .prefooter-list-1 .social-icon-1{
  
}
.childpage .prefooter .prefooter-list-1 .social-icon-1 a{
  background-image: url('ftrTwitter.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: solid 2px #fff;
  border-radius: 50%;
}
.childpage .prefooter .prefooter-list-1 .social-icon-1 a:hover{
  border: solid 2px #d0de40;
}
.childpage .prefooter .prefooter-list-1 .social-icon-2{
  
}
.childpage .prefooter .prefooter-list-1 .social-icon-2 a{
  background-image: url('ftrLinkedin.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: solid 2px #fff;
  border-radius: 50%;
}
.childpage .prefooter .prefooter-list-1 .social-icon-2 a:hover{
  border: solid 2px #d0de40;
}
.childpage .prefooter .prefooter-list-1 .social-icon-3{
  
}
.childpage .prefooter .prefooter-list-1 .social-icon-3 a{
  background-image: url('ftrYoutube.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: solid 2px #fff;
  border-radius: 50%;
}
.childpage .prefooter .prefooter-list-1 .social-icon-3 a:hover{
  border: solid 2px #d0de40;
}
.childpage .prefooter .prefooter-list-1 .social-icon-4{
  
}
.childpage .prefooter .prefooter-list-1 .social-icon-4 a{
  background-image: url('ftrMail.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: solid 2px #fff;
  border-radius: 50%;
}
.childpage .prefooter .prefooter-list-1 .social-icon-4 a:hover{
  border: solid 2px #d0de40;
}
.childpage .credits{
  border-bottom: solid 2px #136026;
  font-size: 12px;
}
.childpage .credits .minitext{
  text-align: right;
  margin-bottom: 5px;
}
.childpage .footer-menu{

}
.childpage .footer-menu footer{
  
}
#block-block-23{
  
}
#block-block-23 ul{
  list-style: none;
}
#block-block-24{
  
}
#block-block-24 img{
  width: 100%;
  height: auto;
}
.view-id-coupons{
  
}
.view-id-coupons .views-content{
  
}
.view-id-coupons .views-row{
  
}
.coupon-holder{
  overflow: auto;
  width: 320px;
  margin: 0 auto;
  border: dashed 2px gray;
  min-height: 320px;
  padding: 20px;
}
.coupon-holder-image{
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
.coupon-holder-image img{
  width: 100%;
  height: auto;
}
.coupon-holder-title{
  text-align: center;
  background-color: #6f993e;
  font-family: 'Crete Round', serif;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.coupon-holder-title a{
  color: white;
  font-size: 18px;
}
.coupon-holder-content{
  
}
.coupon-holder-content-left{
  
}
.coupon-holder-content-right{
  
}
.coupon-holder-term{
  
}
.coupon-holder-address{
  
}
.couponprintbutton{
  background-image: url('PrintBtn.png');
  text-indent: -9999px;
  width: 180px;
  background-repeat: no-repeat;
  height: 26px;
  border: none;
}
.in nav .navbar-nav{
  float: left !important;
}
nav .navbar-nav{
  position: absolute;
  bottom: 75px;
  right: 0px;
}
.logo{
  position: relative;
  z-index: 500;
}
.flex-direction-nav{
  display: none !important;
}
.navbar-brand{
  color: #FF4500 !important;
  text-transform: uppercase;
  font-size: 2em;
}
.logoarea a.logo{
  display: block;
  width: 300px;
  margin: 0 auto;
}
.logoarea a.logo img{
  width: 100%;
  height: auto;
}
.region-tipoftheday{
  margin-top:55px;
}
.region-footeraddress{
  padding-top: 25px;
}
.node-event{
    
}
.node-event .field-name-field-event-image{
  width: 300px;
  float: left;
  margin-right: 20px;
}
.node-event .field-name-field-event-image img{
  width: 100%;
  height: auto;
}
.node-event .field-name-field-event-date{
  color: #f15c48;
  font-size: 20px;  
}
.node-event .field-name-body{
    
}
.view-event-viiew{
  
}
.not-front .view-event-viiew .views-row{
  overflow: auto;
  padding-bottom: 20px;
  border-top: dotted 2px #ccc;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.not-front .view-event-viiew .views-row:hover{
  background-color: #fcfcfc;
}
.not-front .view-event-viiew .views-row .views-field-field-event-image{
  width: 200px;
  float: left;
  margin-right: 20px;
  height: 150px;
  overflow: hidden;
}
.not-front .view-event-viiew .views-row .views-field-field-event-image img{
  width: 100%;
  height: auto;
}
.not-front .view-event-viiew .views-row .views-field-title{
  
}
.not-front .view-event-viiew .views-row .views-field-title a{
  font-size:22px;
}
.not-front .view-event-viiew .views-row .views-field-field-event-date{
  color: #f15c48;
  font-size: 20px;
}
.not-front .view-event-viiew .views-row .views-field-body{
  
}
.front .view-event-viiew .views-row{
  overflow: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0px 25px 0px 25px;
}
.front .view-event-viiew .views-row .views-field-field-event-image{
  width: 220px;
  float: left;
  margin-right: 20px;
  background-color: white;
}
.front .view-event-viiew .views-row .views-field-field-event-image img{
  width: 100%;
  height: auto;
}
.front .view-event-viiew .views-row .views-field-title{
  
}
.front .view-event-viiew .views-row .views-field-title a{
  font-size:28px;
}
.front .view-event-viiew .views-row .views-field-field-event-date{
  color: #f15c48;
  font-size: 24px;
}
.front .view-event-viiew .views-row .views-field-body{
  font-size: 20px;
}
.front nav .navbar-nav {
    position: absolute;
    bottom: 8px;
    right: 0px;
}
/*-----------------------------------------------------------------------------------------------
theme styles
-----------------------------------------------------------------------------------------------*/
.popular-each{
  
}
.popular-each .popular-wrapper{
  padding: 5px;
  min-height: 360px;
  border-radius: 0px 30px;
}
.popular-each .popular-wrapper img{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.popular-each .popular-wrapper h2{
  margin: 5px 10px;
  font-size: 24px;
  font-weight: 100;
  color: white;
}
.popular-each .popular-wrapper p{
  margin: 10px 10px;
  font-size: 14px;
  font-weight: 100;
  color: white;
}
.popular-0{
  
}
.popular-1{
  
}
.popular-2{
  
}
.region-popularzero p:first-of-type{
  max-height: 200px;
  overflow: hidden;
  border-radius: 0px 30px;
}
.region-popularone p:first-of-type{
  max-height: 200px;
  overflow: hidden;
  border-radius: 0px 30px;
}
.region-populartwo p:first-of-type{
  max-height: 200px;
  overflow: hidden;
  border-radius: 0px 30px;
}
.collage{
  border-top: solid 5px #e60379;
  border-bottom: solid 5px #e60379;
  padding-bottom: 50px;
}
.view-all-features{
  
}
.view-all-features .views-row{
  margin-top: 30px;
}
.view-all-features .views-row .feature-post-wrapper{
  position: relative;
}
.view-all-features .views-row .feature-post-wrapper .feature-post-image{
  border: solid 5px #e60379;
}
.view-all-features .views-row .feature-post-wrapper .feature-post-image a{
  text-decoration: none;
}
.view-all-features .views-row .feature-post-wrapper .feature-post-image a:hover{
  text-decoration: none;
}
.view-all-features .views-row .feature-post-wrapper .feature-post-image a img{
  width: 100%;
  height: auto;
}
.view-all-features .views-row .feature-post-wrapper .feature-post-image a img:hover{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all .6s ease;
}
.view-all-features .views-row .feature-post-wrapper .feature-post-title{
  display: none;
}
.view-all-features .views-row .feature-post-wrapper .feature-post-title a{
  font-size: 20px;
  color: #e60379;
  font-family: 'Rufina', serif;
  text-decoration: none;
}
.view-all-features .views-row .feature-post-wrapper .feature-post-title a:hover{
  color:#881155;
  text-decoration: none;
}
.view-all-features .views-row .feature-post-wrapper .feature-post-body{
  display: none;
}
.view-all-features .views-row .feature-post-wrapper .feature-post-body a{
  
}
.view-all-features .views-row .feature-post-wrapper .feature-post-body a:hover{
  
}
.view-all-features .views-row .feature-post-wrapper .feature-post-share{
  display: block;
  position: absolute;
  bottom: -25px;
  right: -8px;
  overflow: auto;
}
.ridericon{
  display: block;
  width: 20px;
  float: left;
}
.ridericon img{
  width: 100%;
  height: auto;
}
.riderflag{
  position: absolute;
  bottom: -16px;
  left: 5px;
  text-transform: uppercase;
  font-size: 11px;
}
.riderflag a{
  color: #ab0057;
}
.riderflag a:hover{
  color: #e60379;
}
.sheerzicon{
  display: none;
}
.facebookicon{
  display: none;
}
.twittericon{
  display: none;
}
.pinteresticon{
  display: none;
}
.instagramicon{
  display: none;
}
#bgvid{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 0;
}
.bgvidoverlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  background-color: white;
  opacity: 0.8;
  min-height: 585px;
}
.appointment-wrapper{
  
}
.appointment-current{
  
}
.appointment-date{
  
}
.appointment-services{
  
}
.appointment-stylist{
  overflow: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px gray;
  margin-bottom: 20px;
  border-top: solid 1px gray;
}
.appointment-stylist-name{
  font-family: Meddon;
  font-size: 2.5em;
  float: right;
  margin-top: 10px;
  padding-right: 20px;
}
.appointment-stylist-image{
  width: 75px;
  border-radius: 50%;
  height: 75px;
  display: block;
  background-color: red;
  overflow: hidden;
  float: right;
}
.appointment-stylist-image img{
  widows: 100%;
  height: auto;
}
.appointment-stylist p{
  
}
.appointment-info{
  
}
